<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SHARP_ACCOUNTING.Properties.Settings.AP2ConnectionString" connectionString="Data Source=RV509;Initial Catalog=AP2;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <!--<add name="SQLConnectionString" connectionString="data source = .; integrated security = true; initial catalog =" providerName="System.Data.SqlClient"/>-->
        <add name="SQLConnectionString" connectionString="data source = KUNAL-PC\SQLEXPRESS; User id=sa;Password=dtdev123; initial catalog =" providerName="System.Data.SqlClient"/>
        <add name="AccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Engine Type=5;Jet OLEDB:Database Password=sharp_mdb;Data Source=" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
