<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="SQLConnectionString" connectionString="Data Source=MAYUR\SQLEXPRESS; Initial Catalog=student;integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="AccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Engine Type=5;Jet OLEDB:Database Password=sharp_mdb;Data Source="/>
	</connectionStrings>
</configuration>